
@-webkit-keyframes colorPulse {
  0% {background-color: #ffffff;}
  5% {background-color: #e6e6ff;}
  10% {background-color: #ccccff;}
  15% {background-color: #b3b3ff;}
  20% {background-color: #9999ff;}
 25% {background-color: #8080ff;}
 30% {background-color: #6666ff;}
 35% {background-color: #4d4dff;}
 40% {background-color: #3333ff;}
 45% {background-color: #1a1aff;}
 50% {background-color: #0000ff;}
 55% {background-color: #0000e6;}
 60% {background-color: #0000cc;}
 65% {background-color: #0000b3;}
 70% {background-color: #000099;}
 75% {background-color: #000080;}
 80% {background-color: #000066;}
 85% {background-color: #00004d;}
 90% {background-color: #000033;}
 95% {background-color: #00001a;}
 100% {background-color: #000000;}
}

html, body {
  height: 100%;
  width: 100%;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
    height: 1200px;
    min-height: 100%;
}

.ngTopPanel {
  line-height: 25px;
}

.ngCell  {
  display : table-cell;
  height: auto !important;
  overflow:visible;
  position: static;
}

.ngRow {
  display : table-row;
  height: auto !important;
  position: static;
}

.ngCellText{
  height: auto !important;
  white-space: normal;
  overflow:visible;
}

.ngGrid.unselectable {
  margin-top: 10px;
}

.container {
    -webkit-animation: colorPulse 50s infinite alternate;
    border-radius: 5px;
}

/*.panel {
  -webkit-animation: colorPulse 40s infinite alternate;
}*/
